
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <div>
        Admin.Products.Delete<br>
        @Html.RouteLink("Home", new { Controller = "Home", action = "Index", area = "" })<br>
    </div>
</body>
</html>
