@model String[]
@{
    ViewBag.Title = "ShowOrders";
    AjaxOptions ajxOptions = new AjaxOptions()
    {
        UpdateTargetId = "tableDiv",
        Url = Url.Action("OrdersData"),
        LoadingElementId = "loadingIndicator"

    };
}

<h2>ShowOrders</h2>
@using (Ajax.BeginForm(ajxOptions))
{
    <div id="loadingIndicator" style="display: none;">Loading...</div>
    <div id="tableDiv">
        @Html.Action("OrdersData")
    </div>
}

@foreach (string customer in Model)
{
    <div style="margin-right: 5px; float: left;">
        @Ajax.ActionLink(customer, "OrdersData", new{ id = customer },
        new AjaxOptions()
        {
            UpdateTargetId = "tableDiv",
            LoadingElementId = "loadingIndicator"
        })
    </div>
}
@section Scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}

