@if (Request.IsAuthenticated)
{
    <text>
        Привет @Html.ActionLink(User.Identity.Name, "Manage", "Account")
        @using (Html.BeginForm("LogOff", "Account",FormMethod.Post, new {id = "logoutForm"}))
        {
         @Html.AntiForgeryToken()
    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
}
else
{
    <ul>
        <li>@Html.ActionLink("Регистрация", "Register", "Account")</li>
        <li>@Html.ActionLink("Вход", "LogIn", "Account")</li>
    </ul>
}