@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
<div>
    @using (Html.BeginForm("Calculate", "Home"))
    {
        <div>
            <label>Первое знчение</label>
            @Html.TextBox("firstField")
        </div>
        <div>
            <label>Второе значение</label>
            @Html.TextBox("secField")
        </div>
    <input type="submit" name="clcBtn" value="+" />
    <input type="submit" name="clcBtn" value="-" />
    <input type="submit" name="clcBtn" value="*" />
    <input type="submit" name="clcBtn" value="/" />
    }
    <div>
        <label>@ViewBag.Result</label>
    </div>
</div>
</body>
</html>